:root {
    --background: rgba(31, 31, 31, 1);
    --card: rgba(52, 52, 52, 1);
    --text: rgba(255, 255, 255, 1);

    --exit: rgba(163, 0, 0, 1);
    --misc: rgba(52, 52, 52, 1);
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#app {
    height: 100%;
}

* {
    scrollbar-width: thin;
}